<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Partners</span></h5>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/images/nord.png" class="d-block w-100 p-3" alt="...">
                <p class="m-2">NordVPN is a trusted online security solution, used by over 14 million internet users worldwide. They offer next-generation encryption with advanced privacy solutions to ensure secure access to all your favorite online resources.</p>
              <a class="btn btn-primary m-2 col-11" href="https://go.nordvpn.net/aff_c?offer_id=15&aff_id=68463&url_id=902">Get a <b>70% DISCOUNT</b> ></a>
            </div>
            <div class="carousel-item">
              <img src="/assets/images/surfshark.png" class="d-block w-100 p-3" alt="...">
                <p class="m-2">Protect your privacy with the fastest VPN. Surfshark VPN keeps you private and secure online. Get 82% off and 2 months FREE by using our link!</p>
              <a class="btn btn-dark m-2 col-11" href="https://get.surfshark.net/aff_c?offer_id=6&aff_id=12527">Get <b>82% OFF</b> ></a>
            </div>
            <div class="carousel-item">
              <img src="/assets/images/purevpn.png" class="d-block w-100 p-3" alt="...">
                <p class="m-2">PureVPN lets you break free from internet restrictions and censorship. So you have unrestricted access to websites, videos, live events, and more.</p>
              <a class="btn btn-dark m-2 col-11" href="https://billing.purevpn.com/aff.php?aff=49452">Get <b>82% OFF</b> ></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
        
        
        </div>
</div>
