/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

.soc a:hover {
	box-shadow: none;
}

.soc a {
	box-shadow: none;
}

table {
  border: 1px solid #aaa;
  background-color: #eee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table td, th {
  border: 1px solid #fff;
  padding: 3px 2px;
}

table tbody td {
  font-size: 16px;
}

table tr:nth-child(even) {
  background: #ddd;
}

table thead {
  background: #111;
  border-bottom: 1px solid #8c8c8c;
}

table thead th {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-left: 1px solid #d0e4f5;
  text-align: center;
}

table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #d0e4f5;
  border-top: 2px solid #444;
}

table tfoot td {
  font-size: 14px;
}

.article-post a:visited {
    color: purple;
}

.buybutton {
	background:linear-gradient(to bottom, #005eff 5%, #004ecc 100%);
	background-color:#005eff;
	border-radius:14px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:15px 31px;
	text-decoration:none;
}
.buybutton:hover {
	background:linear-gradient(to bottom, #004ecc 5%, #005eff 100%);
	background-color:#004ecc;
}
.buybutton:active {
	position:relative;
	top:1px;
}

.yt {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.yt iframe, .container object, .container embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.postimg {
	max-height:500px;
}
