/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

/*.buy {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #ff3333 5%, #de1111 100%);
	background-color:#ff3333;
	border-radius:22px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	color:white !important;
	box-shadow: none !important;
}
.buy:hover {
	background:linear-gradient(to bottom, #de1111 5%, #ff3333 100%);
	background-color:#de1111;
	box-shadow: none !important;
}
.buy:active {
	position:relative;
	top:1px;
}
*/

.soc {
  color: black !important;
  box-shadow: none !important;
}

table {
  border: 1px solid #aaa;
  background-color: #eee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table td, th {
  border: 1px solid #fff;
  padding: 3px 2px;
}

table tbody td {
  font-size: 16px;
}

table tr:nth-child(even) {
  background: #ddd;
}

table thead {
  background: #111;
  border-bottom: 1px solid #8c8c8c;
}

table thead th {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-left: 1px solid #d0e4f5;
  text-align: center;
}

table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #d0e4f5;
  border-top: 2px solid #444;
}

table tfoot td {
  font-size: 14px;
}

.article-post a:visited {
    color: purple;
}

.yt {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.yt iframe, .container object, .container embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.article-post img {
	max-height: 500px;
}

.intro {
	height: 200px;
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	filter: drop-shadow(4px 4px 4px #888) drop-shadow(-4px -4px 4px #fff);
}
