<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
{% if page.image %}
<meta property="og:image" content="{{ page.image }}" />
{% else %}
<meta property="og:image" content="{{ site.logo }}" />
{% endif %}
    
<link rel="icon" href="{{ site.baseurl }}/{{site.favicon}}">

<title>{{ page.title }} | {{site.title}}</title>

{% seo %}

<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<!-- custom CSS - Remove this if you don't use it or choose to customize the stylesheet with sass-->
<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
<!-- custom CSS end-->
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.ganalytics}}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{site.ganalytics}}');
</script>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css">
    
</head>   
    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }} bg-light">

    
<!-- Menu Navigation
================================================== -->
<div class="navigation-wrap start-header start-style text-dark bg-light">
    <nav class="navbar navbar-expand-md">
        <div class="container justify-content-start">

          <a class="navbar-brand text-dark font-weight-bold big d-flex align-items-center" href="{{site.baseurl}}/">
          {% if site.logo %}
          <img class="mr-2" src="{{site.baseurl}}/{{site.logo}}" alt="logo"> 
          {% else %}
          <span class="d-none d-md-inline-block">{{ site.title }}</span>
          {% endif %}
          </a> | 
          

          <div class="d-flex align-items-center me-5">
            
            <!--<span class="p-3 ml-3 text-muted small">Follow</span> -->

            <a class="d-inline-block social-icon" target="_blank" href="{{site.social.youtube}}">
                <i class="fab fa-youtube"></i>
            </svg> 
            </a>
            
            <a class="d-inline-block social-icon" target="_blank" href="{{site.social.instagram}}">
              <i class="fab fa-instagram"></i>
            </svg>
            </a>
      
            <a class="d-inline-block social-icon" target="_blank" href="{{site.social.tiktok}}">
              <i class="fab fa-tiktok"></i>
            </svg>
            </a>

          </div>
    
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-three-dots-vertical text-dark" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
          </button>
          
          <div class="collapse navbar-collapse text-dark" id="navbarResponsive">
            <ul class="navbar-nav font-weight-bold d-flex align-items-center">
              {% for item in site.data.menus.topmenu %}
              <li class="nav-item">
                <a class="nav-link px-3 {% if item.class %}{{item.class}}{% endif %}" href="{% unless item.external %}{{site.baseurl}}/{% endunless %}{{item.url}}" alt="{{item.title}}">{{item.title}}</a>
              </li>
              {% endfor %}
                
             {% for item in site.data.menus.categories %}
              <li class="nav-item">
                <a class="nav-link px-3 {% if item.class %}{{item.class}}{% endif %}" href="{% unless item.external %}{{site.baseurl}}/{% endunless %}{{item.url}}" alt="{{item.title}}">{{item.title}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
	
	
           	<div class="form-check form-switch ms-auto mt-3 me-3">
  <label class="form-check-label ms-3" for="lightSwitch">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="25"
      fill="currentColor"
      class="bi bi-brightness-high"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
      />
    </svg>
  </label>
  <input class="form-check-input" type="checkbox" id="lightSwitch" />
</div>
	
	
      </nav>
    </div>  

    
<!-- Container
================================================== -->    
<main class="container">   
      {{ content }}  
</main>

<!-- Footer
================================================== -->    
<footer class="footer container text-center">  
  <ul class="p-0 mb-1 small">
    {% for item in site.data.menus.footermenu %}
    <li>
      <a href="{% unless item.external %}{{site.baseurl}}/{% endunless %}{{item.url}}" alt="{{item.title}}">{{item.title}}</a>
    </li>
    {% endfor %}
    </ul>
    <div class="copyright small">
       Copyright © {{site.title}}. All rights reserved.
    </div>
</footer>

<!-- JavaScript
================================================== -->    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>   
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>   
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>    
<script src="{{ site.baseurl }}/assets/js/switch.js"></script>

</body>
    
</html>
